@model Gestion_Navettes.Models.reservation

@{
    ViewBag.Title = "Delete";
}


<div class="container1">
    <h2 style="text-align:center">Delete reservation</h2>
    <h3>Are you sure you want to delete this?</h3>
    <hr class="style-seven" />
    <dl style="height:300px">
        <dt>
            Reservation Date :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_res)
        </dd>

        <dt style="height:200px">
            subscription :
        </dt>

        <dd style="height:200px">
            ID: @Html.DisplayFor(model => model.abonnement.id_abn)<br />
            From "@Html.DisplayFor(model => model.abonnement.ville_depart)" To "@Html.DisplayFor(model => model.abonnement.ville_arrive)"<br />
            <img src="~/Images/@Html.DisplayFor(model => model.abonnement.abn_image)" width="100" height="100" />
        </dd>

        <dt>
            User Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.nom_complet)
        </dd>

    </dl>

    <form action="/reservations/suppr/@Html.DisplayFor(model => model.id_res)" id="f" method="post" novalidate="novalidate">
        @Html.AntiForgeryToken()

        <p>
            <a onclick="document.getElementById('f').submit();" class="button4" style="background-color:#C82333;cursor:pointer;">Delete</a>
            |
            <a href="/reservations" class="button4" style="background-color:#2B9CB8;">Back to List</a>
        </p>
    </form>

</div>
