@model Gestion_Navettes.Models.users

@{
    ViewBag.Title = "Delete";
}



<div class="container1">
    <h2 style="text-align:center">Delete User</h2>
    <h3>Are you sure you want to delete this?</h3>
    <hr class="style-seven" />
    <dl>
        <dt>
            User Name :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_complet)
        </dd>

        <dt>
            User Email :
        </dt>

        <dd>
            @Model.email
        </dd>

        <dt>
            User Phone :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tele)
        </dd>

        <dt>
            User Login :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lgn)
        </dd>

        <dt>
            User Password :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.psw)
        </dd>

        <dt>
            User Role :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roles)
        </dd>

    </dl>

    <form action="/users/suppr/@Html.DisplayFor(model => model.id_user)" id="f" method="post" novalidate="novalidate">
        @Html.AntiForgeryToken()

        <p>
            <a onclick="document.getElementById('f').submit();" class="button4" style="background-color:#C82333;cursor:pointer;">Delete</a>
            |
            <a href="/societes" class="button4" style="background-color:#2B9CB8;">Back to List</a>
        </p>
    </form>
</div>

